body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cir {
    transition: 2s;
    display: block;
    height: 200px;
    width: 200px;
    border: 100px solid #579abe;
    box-sizing: border-box;
    border-radius: 50%;
    background-image: url(../img/desktop/eye.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cir:hover {
    transition: 2s;
    border: 0px solid #579abe;
}

.volver {
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    color: black;
    align-self: flex-end;
    justify-self: flex-end;
}

.volver:hover {
    color: #579abe;
}